body {
    /*padding-top: 80px;*/
    background-color: #fdfdfd;

    min-width: 650px; /* suppose you want minimun width of 1000px */
    width: auto !important; /* Firefox will set width as auto */
    width: 650px; /* As IE ignores !important it will set width as 1000px; */

}

#content {
    padding-top: 10px;
}

.book-thumbnail {
    /*    max-height: 215px;
        height: auto;
        max-width: 143px;
        width: 100%;*/
    height: 215px;
    display: block;
}

.btn-web-reader {
    margin-top: 10px;
    /*width: 170px;*/
}

.hide-description-overflow {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 18px; /*fallback*/
    max-height: 51px; /*fallback*/
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.hide-title-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.small-book-card {
    height: 500px;
}

.large-book-card {
    height: 700px;
}
#navbar-input-group{
    width: 100%;
}

/*when navbar is horizontal*/
@media (min-width: 768px) {
        .menu-search-text-input {
            display: inline-block !important;
            width: 50%;
        }


}

/*when navbar is vertical*/
@media (max-width: 768px) {
        .menu-search-text-input {
            display: inline-block !important;
            width: 75%;
        }

        .menu-search-btn {
            width: 24%;
        }
}
