body {
}

#content {
    /*padding-top: 10px;*/
}

.book-card {
    height: 725px;
}

.navbar {
    margin-bottom: 0 !important;
}

.book-thumbnail {
    /*    max-height: 215px;
        height: auto;
        max-width: 143px;
        width: 100%;*/
    margin-bottom: 10px;
    height: 215px;
    display: block;
}

.img-bordered {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dddddd;
}

.btn-web-reader {
    /*margin-top: 10px;*/
    /*width: 170px;*/
}

#fav-button {
    width: 50px;
    margin-bottom: 10px;
}

.hide-description-overflow {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /*fallback*/
    max-height: 80px; /*fallback*/
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}

p {
    line-height: 16px; /*fallback*/
}

.hide-title-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

#paginator {
    margin-bottom: 10px;
    margin-top: 10px;
}

#navbar-input-group {
    width: 100%;
}

#your-page {
    display: none;
}

#content-loader {
    display: none;
}

/*when navbar is horizontal*/
@media (min-width: 768px) {
    .menu-search-text-input {
        display: inline-block !important;
        width: 50%;
    }
}

/*when navbar is vertical*/
@media (max-width: 768px) {
    .menu-search-text-input {
        display: inline-block !important;
        width: 75%;
    }

    .menu-search-btn {
        width: 24%;
    }
}
